@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @* Remove the asp-append-version attribute in the line below to fix the memory leak *@
    <link rel="stylesheet" href="~/FileWhichDoesntExist.css" asp-append-version="true"/>
</head>
<body>
<p>Hello World</p>
</body>
</html>